
/*

.my-style-1{
    font-family: 'Abril Fatface';
    font-size: 100px;
    left: 20px;
}

.my-style-2{
    font-family: 'Adamina';
    font-size: 30px;
}

.my-style-3 {
    font-family: 'Bangers';
    font-size: 50px;
    right: 10px;
}


.my-style-4 {
    font-family: 'Bangers';
    font-size: 50px;
    right: 10px;
}


.my-style-5 {
    font-family: 'Adamina';
    font-size: 30px;
}

.my-style-6 {
    font-family: 'Bangers';
    font-size: 50px;
    right: 10px;
}

.my-style-textbox{
    position: relative;
    left: 20px;
    top: 50px;
}

.my-style-all{
    position: relative;
    top: 60px;
}
*/



