html{
    height: 100%;
    font-size: 100%;
}

body {
    min-height: 100%;
    width: 100%;
}

.jumbotron {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.title {
    font-family: 'Arbutus Slab', serif;
    text-align: center;
    margin-top:260px;
    font-size: 90px;
    color: Black;
    z-index: 120;
}

.main-body {
    border: 0;
    background-image: url("../images/main-pic3-2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    z-index: 200;
    height: 700px;
}


.main-text-1 {
    margin-top: 70px;
    font-family: 'Arbutus Slab', serif;
    font-size: 5vw;
}

.main-text-2 {
    font-family: 'Sacramento';
    font-size: 4vw;
    color: white;
    padding-bottom: 20px;
}

.my-style-description-box {
/*    margin: 50px;*/
    overflow: hidden;
    background-image: url("../images/my-pic-1.png");
    background-size: 50%;
    background-position: right;
    background-repeat: no-repeat; 
    margin: 0;
    border: 0;
    padding: 0;
    height: 100%;
    z-index:100;
}

.my-style-all {
  font-family: 'Arbutus Slab', serif;
  text-align: left;
  padding-left: 40px;
/*  height: 200%;*/
  color: black;
  z-index: 120;
}

.design-skills{
  font-family: 'Cabin Sketch';
  font-size: 3vw;
}

.strong {
  font-family: 'Love Ya Like A Sister';
  font-size: 3vw;
  font-weight: bold;
}

.please-reachout{
  font-family: 'Sedgwick Ave';
  font-size: 2.9vw;
  font-weight: bold;
  padding-bottom: 30px;
}

.my-style-all:before {
  content: "";
  background-color: lightgrey;
  position: absolute;
  opacity: 0.5;    
  height: 200%;
  width: 200%;
  top: -10px;
  left: -80%;
  transform: rotate(65deg);
  z-index: 10;
}

.my-style-1{
    font-size: 7vw;
    left: 20px;
    padding-top: 30px;
}


.my-style-2{
  padding-top: 15px;
  font-size: 2.2vw;
  padding-bottom: 18px;
  width: 75%;
}

.my-style-3{
  font-size: 2.1vw;
  padding-bottom: 18px;
  width: 72%
}

.my-style-4{
  padding-bottom: 18px;
  font-size: 2vw;
  width: 65%;
}

.my-style-5{
  font-size: 2.2vw;
  width: 70%; 
  padding-bottom: 15px;
}

.navbar {
  background-color: white;
  width: 100%;
  display: inline-flex;

/*  opacity: 1.0;       */
/*  z-index: 150;*/
/*  height: 50px;*/
/*  left: 50%;*/
/*  overflow: hidden;*/
/*  display: inline-block;*/
/*  margin: auto;*/
/*  text-align: center;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  border: 0px;*/
}

.nav .navbar-nav {
/*    text-align: center;*/
/*    display: inline-block;*/
/*    left: 50%;*/
}

.nav-link {
  font-family: 'Oswald';
  font-size: 2vw;
  color: black;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

.modal-footer{
  display: inline-flex;
  position: relative;
}

.home-banner-down-arrow {
  position: relative;
  left: 45%;
  display: block;
  z-index: 101;
  top: 42%;
/*  align-content: center;*/
}

.col-lg-6 {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.projects {
    background-color: white;
    min-height: 220px;
    font-size: 20px;
    text-align: center;
}  

.project-dots {
    font-family: sans-serif;
    font-size: 40px;
    color: lightsteelblue;
    padding-bottom: 60px;
}

.project-3.project-4{
    margin-bottom: 40px;
}

.projects-intro{
    font-family: 'Oswald';
    font-size: 30px;
    font-weight: bold;
    margin-top: 120px;
}

.project-description{
    color: black;
}

.projects-body {
    background-color: white;
    margin-bottom: 40px;
}

.overlay {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 500px;
    opacity: 0;
    transition: .5s ease;
    background-color: lightgray;
}

.project-links:hover .overlay{
    opacity: 0.7;
    width: 500px;
}

.overlay-text{
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.modal-body{
    text-align: left;
}

.modal-title {
    font-family: 'PT Serif', cursive;
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 30px;
}

.modal-content-tech{
    font-size: 20px;
    font-weight: bold;
    color: lightslategray;
    padding-bottom: 70px;
}

.modal-content-description {
    font-family: 'PT Serif', cursive;
    font-size: 17px;
    padding-bottom: 25px;
}

.text{
    color: black;
    font-size: 20px;
    margin-top: 150px;
    font-weight: bold;
}


footer{
    background-color: lightsteelblue;
    font-family: 'Oswald';
    min-height: 400px;
    color:black;
    font-size: 30px;
    text-align: center;
}

.footer-text{
    position: relative;
    top: 50px;
    font-weight: bold;
}

.footer-dots{
    font-family: sans-serif;
    font-size: 40px;
    color: white;
    padding-top: 50px;
}

.footer-icons {
    top: 100px;
    position: relative;
}

.footer-bottom{
    display: inline-block;
    position: relative;
    top: 120px;
}

.footer-signature{
    font-family: 'sacramento';
    font-size: 28px;
    padding: 9px;
    color: white;
}

.footer-copyright {
    font-size: 15px;
}

.skills {
    text-align: center;
}

.skills li {
    display:inline-block;
    padding: 8px 5px;
    background-color: grey;
    color: azure;
    border-color: #222;
    border-radius: 3px;
    font-size: 1.5vw;
    box-shadow: 1px 1px 0 rgba(0,0,0,.25);
    opacity: 1;
    cursor: pointer;
    overflow: hidden;  
}

.padding-0 [class^="col"] {
    padding-right:0;
    padding-left:0;
}


@media only screen and (min-width:500px) and (max-width:800px){
    .main-body {height: 500px; }
    .home-banner-down-arrow {top: 35%;}
    .nav-link {font-size: 2.5vw}
}

@media only screen and (min-width:801px) and (max-width:970px){
    .main-body {height: 580px; }
    .home-banner-down-arrow {top: 35%; width: 50%;}
    .nav-link {font-size: 2.5vw}
}

@media only screen and (min-width: 350px) and (max-width:499px){
    .nav-link {font-size: 3.5vw}
    .main-body {height: 330px;}
    .home-banner-down-arrow {top: 22%}
}


.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/images/Preloader_1.gif) center no-repeat #fff;
}

#snow{
	background: none;
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	