html{
    height: 100%;
    font-size: 100%;
}

body {
    min-height: 100%;
    width: 100%;
}

.title {
    font-family: 'Arbutus Slab', serif;
    text-align: center;
    margin-top:260px;
    font-size: 90px;
    color: Black;
    z-index: 120;
}

.main-body {
    border: 0;
    background-image: url("../images/main-pic.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    width: 100%;
    z-index: 200;
    height: 670px;
}

.main-text-1 {
    font-family: 'Arbutus Slab', serif;
}

.navbar {
/*  position: fixed;*/
  background-color: white;
  opacity: 1.0;       
/*  top: 0;*/
  z-index: 150;
  height: 50px;
  overflow: hidden;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border: 0px;
}

.nav-link {
  font-family: 'Oswald';
  font-size: 20px;
  color: black;
  font-weight: bold;
}


.home-banner-down-arrow {
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    top: 300px;
    z-index: 101;
    align-content: center;
}

.skills {
    list-style: none;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    font-size: 20px;
    z-index: 150;
}

.my-style-1{
    font-family: 'Abril Fatface';
    font-size: 100px;
    left: 20px;
}

.my-style-2{
    font-family: 'Adamina';
    font-size: 30px;
}

.my-style-3 {
    font-family: 'Bangers';
    font-size: 50px;
    right: 10px;
}


.my-style-4 {
    font-family: 'Bangers';
    font-size: 50px;
    right: 10px;
}


.my-style-5 {
    font-family: 'Adamina';
    font-size: 30px;
}

.my-style-6 {
    font-family: 'Bangers';
    font-size: 50px;
    right: 10px;
}

.my-style-textbox{
    position: relative;
    left: 20px;
    top: 50px;
}

.my-style-all{
    position: relative;
    top: 60px;
}


.my-style-description-box{
    background-color: gainsboro;
    text-align: center;
    margin: 0;
    border: 0;
    padding: 0;
    height: 600px;
}

.note-text-1{
    background-color: white;
    color: black;
}

.projects {
    background-color: white;
    min-height: 100px;
    color: azure;
    font-size: 100px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}  

.projects-body {
    background-color: white;
    margin-top: 0;
    padding:0;
}

.text{
    color: black;
    font-size: 20px;
    margin-top: 150px;
    font-weight: bold;
}


.caseStudies{
    background-color: black;
    font-size: 20px;
    min-height: 700px;
}

.case-intro{
    text-align: center;
    font-family: 'Bangers';
    min-height: 250px;
    position: relative;
    top: 70px;
    font-weight: bold;
    font-size: 40px;
    z-index: 10;
    color: aliceblue;
}

.case-text{
    cursor: pointer;
    opacity:0;
    transition: .5s ease;
    background-color: white;
    text-align: center;
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

footer{
    background-color: whitesmoke;
    font-family: 'Bangers';
    min-height: 200px;
    color:darkred;
    font-size: 30px;
    text-align: center;
}

.footer-text{
    position: relative;
    top: 50px;
}


/*
li{
    display:inline-block;
    padding: 8px 5px;
    background-color: #313131;
    color: azure;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: #222;
    border-radius: 3px;
    font-size: .85em;
    box-shadow: 1px 1px 0 rgba(0,0,0,.25);
    margin: 3px;
    opacity: 1;
    cursor: pointer;
    overflow: hidden;   
}
*/

.padding-0 [class^="col"] {
    padding-right:0;
    padding-left:0;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/images/Preloader_1.gif) center no-repeat #fff;
}

 /* Medium and small screens (640px) */
 @media (min-width: 640px) {
    html { font-size: 112%; }
 }
 
 /* Large screens (1024px) */
 @media (min-width: 1024px) {
    html { font-size: 120%; }
   /* Style information will go here */
 }

#snow{
	background: none;
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	